body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#userInput{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid rgb(209, 207, 207);
    margin-right: 30px;
}
#btnTest{
    height: 35px;
    width: 60px;
    margin-right: 30px;
    border-radius: 5px;
    border: 1px solid rgb(118, 118, 118);
}

#btnTest:hover{
    cursor: pointer;
    background-color: rgb(50, 125, 187);
    color: white;
}

#result{
    max-height: 400px;
    width: 250px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
}

h2{
    font-size: 17px;
}

#replay{
    height: 35px;
    width: 60px;
    background-color: rgb(50, 125, 187);
    color: white;
    border-radius: 5px;
    border: transparent;
}

#replay:hover{
    cursor: pointer;
}

